@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bible-verse-link {
    @apply text-green-600 dark:text-green-400 hover:underline;
  }
}

@theme {
  --color-gray-50: #f0f0f0;   /* Very light gray */
  --color-gray-100: #e0e0e0;  /* Slightly darker */
  --color-gray-200: #d0d0d0;  /* Progressively darker */
  --color-gray-300: #c0c0c0;
  --color-gray-400: #a0a0a0;
  --color-gray-500: #808080;  /* Mid-gray */
  --color-gray-600: #606060;
  --color-gray-700: #404040;
  --color-gray-800: #121212;  /* Your base color */
  --color-gray-900: #0a0a0a;  /* Near black */
  --color-gray-950: #000000; /* Black */
}