<div class="text-gray-800 dark:text-white border-t border-gray-200 dark:border-gray-700 dark:hover:bg-gray-950 hover:rounded-lg hover:bg-gray-100">
    <div class="p-4">
        <%= render 'notes/components/note_meta', note: note %>

        <h2 class="text-lg font-semibold"><%= link_to note.title, note %></h2>
        <p class="text-sm mt-2"><%= link_to sanitize(truncate(note.transcription.to_plain_text, length: 170)), note %></p>
    </div>
</div>