<div class="bg-white text-gray-800 dark:bg-black dark:text-white">
    <div class="max-w-screen-lg mx-auto">
        <h1 class="font-semibold text-xl px-4">New note</h1>
        <%= render "form", note: @note %>
    </div>
</div>