<div id="translation-selector" data-bible-chat-target="translationSelector" class="flex flex-wrap gap-2">
  <% @translations.each do |translation| %>
    <%= link_to translation, 
        update_translation_bible_chats_path(translation: translation), 
        class: "px-3 py-1 rounded-lg #{@translation == translation ? 
        'bg-green-600 text-white' : 
        'bg-white dark:bg-gray-800 text-gray-800 dark:text-white border border-gray-200 dark:border-gray-700'}", 
        data: { 
          turbo_method: :patch,
          action: "click->bible-chat#updateTranslation",
          translation: translation
        } %>
  <% end %>
</div>