<% if note.audio_file.attached? && note.persisted? %>
  <div class="fixed bottom-0 left-0 right-0 bg-white dark:bg-gray-800 border-t border-gray-300 dark:border-gray-700 p-2 z-10">
    <div class="container mx-auto flex items-center justify-between pl-4 md:pl-64">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-600 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3" />
        </svg>
        <span class="text-sm truncate max-w-xs"><%= note.audio_file.filename.to_s %></span>
      </div>
      
      <div class="flex-grow mx-4">
        <audio controls class="w-full h-8 focus:outline-none">
          <source src="<%= rails_blob_path(note.audio_file) %>" type="audio/mpeg">
        </audio>
      </div>
      
      <%= link_to rails_blob_path(note.audio_file, disposition: "attachment"), class: "text-green-600 hover:text-green-700" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
      <% end %>
    </div>
  </div>
<% end %>