<div data-controller="dropdown" class="relative flex items-center">
  <button data-action="dropdown#toggle" data-dropdown-target="button" class="cursor-pointer flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div data-dropdown-target="menu" class="absolute right-0 top-full mt-1 z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-black border border-gray-500 dark:border-gray-100">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
      <li>
        <%= link_to 'Edit', edit_note_path(note), class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
      </li>
      <li>
        <%= link_to 'Delete', note_path(note), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this note?" }, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white border-t dark:border-gray-300" %>
      </li>
    </ul>
  </div>
</div>