/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Open+Sans:ital@0;1&display=swap');

 body {
  font-family: "Open Sans", serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,.logo-text,.nav-ul,.nav-btn {
  font-family: "Poppins", serif;
  font-weight: 600;
}

p {
  font-family: "Open Sans", serif;
  font-weight: 400;
}

 trix-toolbar .trix-button-group button {
  background-color: white;
}

/* scrollbar styling */
::-webkit-scrollbar-track {
  /* Pure function to calculate shadow with no side effects */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
  /* Add padding to avoid overlap with rounded corners */
  padding-right: 2px; /* Adjust as needed */
}

::-webkit-scrollbar-thumb {
  /* Keep the thumb styling immutable */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
  /* background-color: rgb(30 66 159); */
}
