<div id="flash">
  <% flash.each do |key, value| %>
    <div data-controller="flash" class="flex items-center fixed top-5 right-5 z-50 <%= classes_for_flash(key) %> py-3 px-5 rounded-lg shadow-md">
      <div class="mr-4"><%= value %></div>
      <button type="button" data-action="flash#dismiss" class="cursor-pointer hover:text-gray-800 dark:hover:text-gray-200 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% end %>
</div>